<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>YouTube Sentiment Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      rel="preload"
      as="style"
      href="{% static 'css/styles.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
                event.preventDefault();  // Prevent form submission
                var url = $('#id_url').val();  // Get the YouTube URL

                $.ajax({
                    type: 'POST',
                    url: '{% url "analysis" %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'url': url
                    },
                    success: function(response) {
                       // var scores=JSON.stringify(response.Scores)
                        var sentiment = response.Sentiment_summary.sentiment;
                        var sentimentColor = sentiment === 'Valid' ? 'springgreen' : 'red';
                       // JSON response handler
                        console.log("Response Received")
                        console.log(response)
                        var resultContainer = $('#result-container');
                        var html = '<h1>' + response.title + '</h1>';
                        html += '<p>Views: ' + response.views + '</p>';
                        html += '<p>Likes: ' + response.likes + '</p>';
                        html += '<p>Comment Count: ' + response.commentcount + '</p>';
                        html += '<p>Like-View Ratio: ' + response.like_view_ratio + '</p>';
                        html += '<p>Comment-View Ratio: ' + response.comment_view_ratio + '</p>';

                        html += '<h2>Sentiment Summary</h2>';
                        html += '<h3 style="color: ' + sentimentColor + ';">Sentiment: ' + sentiment + '</h3>' ;

                        html += '<h4>Top Five Comments</h4>';
                        html += '<ul>';
                        for (var i = 0; i < response.Sentiment_summary.Top_five_comments.length; i++) {
                            var comment = response.Sentiment_summary.Top_five_comments[i][0];
                            var score = response.Sentiment_summary.Top_five_comments[i][1];
                            html += '<li>' + comment + ' - Score: ' + score + '</li>';
                        }
                        html += '</ul>';

                        html += '<h2>Scores</h2>';
                        html += '<p>Positive: ' + response.Scores.positive + '</p>';
                        html += '<p>Negative: ' + response.Scores.negative + '</p>';
                        html += '<p>Neutral: ' + response.Scores.neutral + '</p>';

                        resultContainer.html(html);  //result container
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1><i class="fa fa-youtube-play" style="color : red"></i>  Sentiment Analysis</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Extract</button>
    </form>

    <div id="result-container"></div>  <!-- Container to display the result -->
</body>
</html>
