<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Trust Me Bro</title>
    <link rel="icon" href="{% static '/img/2.ico' %}" type="image/icon type" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.10.1/bodymovin.min.js"></script>
    <script>
      var analysisUrl = "{% url 'analysis' %}";
      var csrfToken = "{{ csrf_token }}";
      var animationInstance;
    </script>
    <script src="{% static '/js/utils.js' %}"></script>
    <link
      rel="preload"
      as="style"
      href="{% static 'css/index.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      input:focus,
      textarea:focus,
      select:focus {
        outline: none;
      }
      #mainbody {
        background-image: url("{% static 'img/Landing_Page.png' %}");
      }
      /* For Webkit-based browsers (Chrome, Safari and Opera) */
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      /* For IE, Edge and Firefox */
      .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>
  </head>
  <body>
    <div class="bg-cover bg-center" id="mainbody">
      <div class="h-screen w-full p-7 md:p-10 overflow-auto scrollbar-hide">
        <div class="h-1/4 md:h-2/5">
          <!-- title card -->
          <div class="flex justify-end flex-row h-1/2 md:h-2/5">
            <div class="basis-11/12">
              <h1
                class="text-white text-5xl md:text-7xl font-sans font-extrabold"
              >
                TRUST ME <br />
                BRO
              </h1>
            </div>
            <div class="basis-1/12 m-2 md:m-5">
              <a href="https://github.com/drMy5tery/Trust-Me-Bro">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png"
                  width="40"
                  height="40"
                />
              </a>
            </div>
          </div>

          <!-- search bar -->
          <div class="flex justify-center h-1/2 md:h-2/5">
            <div
              class="flex self-center justify-end flex-row bg-white w-11/12 md:w-6/12 rounded-md h-14 shadow-md shadow-black"
            >
              <div
                class="basis-1/5 h-14 p-1 md:p-2"
                id="search"
                autocomplete="on"
                style="cursor: pointer"
              >
                {% csrf_token %}
                <div align="center">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png"
                    width="40"
                    height="40"
                  />
                </div>
              </div>
              <input
                id="input"
                class="basis-full h-14 p-1 md:p-5 font-semibold text-sm md:text-base"
                placeholder="Link"
              />
              <div class="basis-1/5 h-14 p-1 md:p-2" id="close">
                <div align="center">
                  <img
                    src="https://cdn4.iconfinder.com/data/icons/menu-phone-glyph/32/menu_glyph_43-512.png"
                    width="40"
                    height="40"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- dividing line -->
          <div class="h-1/5 collapse md:visible">
            <hr
              class="mx-auto w-1/5 h-3 bg-orange-600 dark:bg-orange-600 shadow-lg shadow-orange-600"
            />
            <hr
              class="h-0.5 bg-orange-600 border-0 rounded shadow-lg shadow-orange-600"
            />
          </div>
        </div>

        <!-- output section -->
        <div class="h-3/4 md:h-3/5 collapse" id="output">
          <div class="flex flex-col md:flex-row h-full gap-4">
            <div
              class="h-1/5 md:h-full basis-4/12 font-mono bg-[#0f0f0f] rounded-2xl p-5 overflow-scroll"
            >
              <div class="h-1/2 p-3">
                <img
                  id="thumbnail"
                  src="https://i.ytimg.com/vi/BjyWXiZrSlQ/default.jpg"
                  width="250"
                  height="250"
                  class="object-cover h-full w-full rounded-md border-2 border-orange-500 shadow-md shadow-orange-600"
                />
              </div>

              <div class="h-1/2 p-3">
                <div class="text-white text-base" id="video_name">
                  Turning a Figma Design into a Real Website using HTML and CSS
                </div>
                <div class="text-white text-xl" id="video_channel">
                  Django road
                </div>
                <div
                  class="flex justify-between text-white text-base my-2 px-2 bg-[#272727] rounded-md overflow-x-scroll"
                  align="center"
                >
                  <div class="flex row p-1">
                    <i class="material-icons">recommend</i>
                    <div id="views">98822</div>
                  </div>
                  <div class="flex row p-1">
                    <i class="material-icons">visibility</i>
                    <div id="likes">98822</div>
                  </div>
                  <div class="flex row p-1">
                    <i class="material-icons">chat</i>
                    <div id="comments">98822</div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="h-4/5 md:h-full basis-8/12 bg-[#141223] rounded-2xl h-full overflow-scroll"
            >
              <div
                class="p-5 h-full"
                id="animationWindow"
                style="display: none"
              ></div>
              <div
                class="p-5 font-mono font-light"
                id="result-container"
                style="display: none"
              >
                <div
                  class="text-white sm:text-sm md:text-base"
                  id="summary_info"
                >
                  summary : Yeah bro it's a valid video!!
                </div>
                <br />
                <div
                  class="text-white sm:text-sm md:text-base"
                  id="summary_text"
                >
                  comments with strong reactions : I loved this. Exactly what I
                  wanted, and so easy to follow. Thank you! - Score:
                  0.991959273815155 Thankyou for sharing this video.. it's
                  really very helpful for us😍😍🥰🥰🥰 - Score:
                  0.9918935298919678 Such a great explanation! Tailwind is
                  really amazing! - Score: 0.9905344247817993 Thank you so much,
                  Adrian. You are the real MVP - Score: 0.9889209270477295
                  Thanks for making this video ❤️❤️ - Score: 0.9876875281333923
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
