<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Trust Me Bro</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.10.1/bodymovin.min.js"></script>
    <script>
        var analysisUrl = "{% url 'analysis' %}";
        var csrfToken = '{{ csrf_token }}';
        var animationInstance;
    </script>
    <link
      rel="stylesheet"
      href="/YtCmntAnalysis/Analysis/static/css/index.css"
    />
    <link
      rel="preload"
      as="style"
      href="{% static 'css/index.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      input:focus,
      textarea:focus,
      select:focus {
        outline: none;
      }
      .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #374650;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
  </head>
  <body>
    <div class="bg-cover bg-center" style="background-image: url('{% static "/img/Landing_Page.png"%}')">
      <div class="h-screen w-full p-5 md:p-10 overflow-auto">
        <div class="h-1/4 md:h-1/2">
          <div class="flex justify-end flex-row h-1/2">
            <div
              class="basis-11/12 text-white text-5xl md:text-7xl font-sans font-extrabold"
            >
              <h1>
                TRUST ME <br />
                BRO
              </h1>
            </div>
            <div class="basis-1/12">
              <a href="https://github.com/drMy5tery/Trust-Me-Bro">
                <img
                src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png"
                width="40"
                height="40"
                />

              </a> 
            </div>
          </div>
          <!-- search bar -->
          <div class="flex justify-center h-1/2">
            <div
              class="flex self-center justify-end flex-row bg-white w-11/12 md:w-6/12 rounded-md h-14"
            >
              <div class="basis-1/5 h-14 p-2" align="center" id="search">
                {% csrf_token %}
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png"
                  width="40"
                  height="40"
                />
              </div>
              <input
                id="input"
                class="basis-full h-14 p-5 font-medium"
                placeholder="Link"
              />
              <div class="basis-1/5 h-14 p-2.5" align="center" id="close">
                <img
                  src="https://logowik.com/content/uploads/images/close1437.jpg"
                  width="40"
                  height="40"
                />
              </div>

            </div>
          </div>
        </div>
        <hr>

        <div id="loader" class="basis-full p-5 collapse" align="center">
          <div class="loader">
          </div>
        </div>

        <div class="h-3/4 md:h-1/2" id="output">
          <!-- output section -->
          <div class="flex flex-col md:flex-row m-2 md:m-5 h-full gap-4">
            <div class="basis-4/12 grid grid-cols-1 place-content-center font-mono bg-[#0f0f0f] rounded-2xl p-5">
              <div align="center">
                <img
                    id="thumbnail"
                    src="https://i.ytimg.com/vi/BjyWXiZrSlQ/default.jpg"
                    width="250"
                    height="250"
                  />
              </div>
              <div class="text-white text-base" id="video_name">
                Turning a Figma Design into a Real Website using HTML and CSS              
              </div>
              <div class="text-white text-xl" id="video_channel">
                Django road              
              </div>
              <div class="flex justify-between text-white text-base my-2 px-2 bg-[#272727] rounded-md" align="center">
                <div class="flex flex row p-1">
                  <i class="material-icons">recommend</i>
                  <div id="views">98822</div>
                </div>
                <div class="flex flex row p-1">
                  <i class="material-icons">visibility</i>
                  <div id="likes">98822</div>
                </div>
                <div class="flex flex row p-1">
                  <i class="material-icons">chat</i>
                  <div id="comments">98822</div>
                </div>
              </div>
            </div>

            <div class="basis-full md:basis-8/12">
              <div class="bg-[#141223] h-full rounded-2xl p-5 font-mono font-light grid grid-cols-1 place-content-center">
                <div class="text-white sm:text-sm md:text-base" id="summary_info">
                  summary : Yeah bro it's a valid video!!
                </div>
                <br>
                <div class="text-white sm:text-sm md:text-base" id="summary_text">
                  comments with strong reactions :

                  I loved this. Exactly what I wanted, and so easy to follow. Thank you! - Score: 0.991959273815155
                  Thankyou for sharing this video.. it's really very helpful for us😍😍🥰🥰🥰 - Score: 0.9918935298919678
                  Such a great explanation! Tailwind is really amazing! - Score: 0.9905344247817993
                  Thank you so much, Adrian. You are the real MVP - Score: 0.9889209270477295
                  Thanks for making this video ❤️❤️ - Score: 0.9876875281333923
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </body>
  <script type='text/javascript'>
    document.getElementById("output").style.visibility = "collapse"; 

    var link = document.getElementById("input");
    var element = document.getElementById("search");
    element.onclick = function() 
    { 
      url = link.value
      if (url && url != 'Link') {
        document.getElementById("loader").style.visibility = "visible"; 

        $.ajax({
            type: 'POST',
            url: analysisUrl,
            data: {
                'csrfmiddlewaretoken': csrfToken,
                'url': url
            },
            success: function(response) {
              // console.log(response)

              const video_name = document.getElementById("video_name");
              const views = document.getElementById("views");
              const likes = document.getElementById("likes");
              const comments = document.getElementById("comments");
              const video_channel = document.getElementById("video_channel");
              var thumbnail = document.getElementById("thumbnail"); 

              const summary_info = document.getElementById("summary_info");
              const summary_text = document.getElementById("summary_text");

              video_name.innerHTML = response['title']
              views.innerHTML = response['views']
              likes.innerHTML = response['likes']
              comments.innerHTML = response['commentcount']
              video_channel.innerHTML = response['channel_name']
              thumbnail.src = response['thumbnail']

              summary_info.innerHTML = "summary : Yeah bro it's a "+response['Sentiment_summary']['sentiment']+" video!!"
              html = "comments with strong reactions : <br/> <ul>";
                for (var i = 0; i < response.Sentiment_summary.Top_five_comments.length; i++) {
                    var comment = response.Sentiment_summary.Top_five_comments[i][0];
                    var score = response.Sentiment_summary.Top_five_comments[i][1];
                    html += '&#x2022;' + comment + ' - Score: ' + score + ".<br/>";
                }
              html += "</ul>";
              summary_text.innerHTML = html


            }
        });

        document.getElementById("loader").style.display = "none"; 
        document.getElementById("output").style.visibility = "visible"; 
        

      }
      
    }

    var close_element = document.getElementById("close");
    close_element.onclick = function()  
    {
      var input = document.getElementById("input");
      input.value = "Link"
    }

  </script>
</html>
