<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Trust Me Bro</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/YtCmntAnalysis/Analysis/static/css/index.css"
    />
    <link
      rel="preload"
      as="style"
      href="{% static 'css/index.css' %}"
      onload="this.rel = 'stylesheet'"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      input:focus,
      textarea:focus,
      select:focus {
        outline: none;
      }

    </style>
  </head>
  <body>
    <div class="bg-cover bg-center" style="background-image: url('{% static "/img/Landing_Page.png"%}')">
      <div class="h-screen w-full p-5 md:p-10">
        <div class="flex justify-end flex-row m-5">
          <div
            class="basis-11/12 text-white text-5xl md:text-7xl font-sans font-extrabold"
          >
            <h1>
              TRUST ME <br />
              BRO
            </h1>
          </div>
          <div class="basis-1/12 m-5 md:p-10">
            <img
              src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png"
            />
          </div>
        </div>

        <!-- search bar -->
        <div class="flex justify-center my-8">
          <div
            class="flex justify-end flex-row bg-white w-11/12 md:w-6/12 rounded-md h-14"
          >
            <div class="basis-1/5 h-14 p-2" align="center">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png"
                width="40"
              />
            </div>
            <input
              class="basis-full h-14 p-5 font-medium"
              placeholder="Link"
            />
            <div class="basis-1/5 h-14 p-2.5" align="center">
              <img
                src="https://logowik.com/content/uploads/images/close1437.jpg"
                width="40"
                height="40"
              />
            </div>
          </div>
        </div>

        <hr>

        <!-- output section -->
        <div class="flex justify-end flex-row m-5 h-48">
          <div class="basis-1/4" align="center">
          <img
              src="https://i.ytimg.com/vi/BjyWXiZrSlQ/default.jpg"
              width="300"
              height="300"
            />
          </div>
          <div class="basis-3/4">
            <div class="bg-[#141223] h-full rounded-2xl p-5">
            asd

            </div>
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
