#extension-container {
    min-width: 250px;
    min-height: 250px;
    padding: 0;
    margin: 0;
    background: rgb(133,143,154);
    background: radial-gradient(circle, rgba(133,143,154,1) 24%, rgba(98,107,117,1) 100%);
}
#result-container {
    max-width: 200px;
    margin: 20px auto;
    background: rgb(171,171,171);
    background: radial-gradient(circle, rgba(171,171,171,1) 16%, rgba(98,107,117,1) 100%);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#ext-img {
    height: 69px;
    width: 69px;
    margin-right: 8px;
  }

.logo {
    display:flex;
    padding: 8px;
    align-items: center;
  }
#result-container p {
    margin: 10px 0;
}