#result-container {
    max-width: 200px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#result-container p {
    margin: 10px 0;
}