body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#result-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#result-container h2 {
    color: #fff;
}

#result-container h3 {
    color: teal;
    margin-top: 0;
}

#result-container h4 {
    color: #fff;
    margin-top: 20px;
}

#result-container ul {
    text-align: left;
    margin-left: 20px;
    color: #fff;
}

#result-container ul li {
    margin-bottom: 5px;
}

#result-container p {
    margin: 5px 0;
}

input[type="text"],
input[type="url"],
button[type="submit"] {
    background-color: #1a1a1a;
    color: #fff;
    width: auto; 
    min-width: fit-content; 
    max-width: fit-content;
    border: 1px solid teal;
    padding: 8px 10px;
    border-radius: 20px;
}

input[type="text"]::placeholder,
input[type="url"]::placeholder {
    color: #888;
}

button[type="submit"] {
    background-color: teal;
    color: #fff;
}

#animationWindow {
    max-width: 600px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}